@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');



/* *************** hamburger menus ************ */
*, *:before, *:after 
{ box-sizing: border-box; }

html { font-size: 18px; scroll-behavior: smooth;}


body {
  color: #000;
  font-size: 1.2em;
  line-height: 1.6;
  background-color: rgba(244, 232, 212, 1);
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
label .menu {
  position: absolute;
  /* right: -100px;
  top: -100px; */
  right: 0px;
  top: 0px;
  z-index: 100;
  /* width: 200px;
  height: 200px; */
  width: 90px;
  height: 90px;
  background: #FFF;
  /* border-radius: 50% 50% 50% 50%; */
  border-radius:50% 0 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  
}
label .hamburger {
  position: absolute;
  /* top: 135px;
  left: 50px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 2px;
  background: rgb(48, 47, 47);
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(48, 47, 47);
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  border-radius: 0;
  
}
label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}
label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}
label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}
label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}
label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
}
label li {
    list-style-type: none;
}
/* ************** navbar ************** */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.fa-brands, .fa-solid{
    font-size: 25px;
    margin: 0 20px;
    color: rgb(48, 47, 47);
}
.imgIntro img {
    height: 150px;
}
.clique{
    width: 200px;
    margin: 100px 60px 0 0;
    font-family: 'Parisienne', cursive;
    color: rgb(187, 13, 13);
    position: relative;
}
.clique::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 150px;
    width: 80px;
    height: 125px;
    transform: rotate(50deg);
    background: url(./images/arrow.png) no-repeat center;
    object-fit: cover;
    z-index: 3;
}

.traitIntro {
    height: 1px;
    width: 70%;
    background-color: #000;
    margin: 20px auto;
}
/* ***********animation carrousel ****************** */
.swiper {
    width: 450px;
    height: 520px;
    margin: 50px 100px;
    position: relative;
}
.swiper::before {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 430px;
    height: 500px;
    content: "";
    border: 1px solid yellowgreen;
    z-index: 2;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* **************** style intro ************** */
.carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

}
.textIntro {
    width: 400px;
    margin: 0 15px;
    text-align: center;
    font-size: 18px;
}
/* ******************* portfoilo *************** */
.portfolio {
    height: 630px;
    width: 100%;
    background: rgba(0, 0, 0, 0.459);
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 100px 250px;
    grid-template-areas: 
        "paragraphe a b c"
        "paragraphe a b d"
        "paragraphe a e d";
}
.categorie:nth-child(1) {
    margin: 20px;
    padding: 5px;
    grid-area: paragraphe;
    text-align: justify;
    margin: 0px 20px;
    color: whitesmoke;
    line-height: 1.2em;
    font-size: 25px;
    font-family: 'Parisienne', cursive;
    
}
.categorie:nth-child(2) {
    margin: 40px 25px 25px 25px;
    grid-area: a;
    position: relative;
}
.categorie:nth-child(3) {
    margin: 40px 25px 25px 25px;
    grid-area: c;
    position: relative;
}
.categorie:nth-child(4) {
    margin: 40px 25px 25px 25px;
    grid-area: d;
    position: relative;
}
.categorie:nth-child(5) {
    margin: 40px 25px 25px 25px;
    grid-area: e;
    position: relative;
}
.categorie:nth-child(6) {
    grid-area: b;
    margin: 40px 25px 25px 25px;
    position: relative;
}
.categorie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.textePortfolio p{
    padding-bottom: 30px;
}
.mariage::before, .famille::before, .enfant::before, .concert::before, .animaux::before {
    position: absolute;
    width: 130px;
    height: 35px;
    top: -36px;
    right: 0px;
    color: whitesmoke;
    font-size: 31px;
    margin: auto;
    z-index: 3;
    font-family: 'Parisienne', cursive;
}
.mariage::before {
    content: "Mariages";
}
.famille::before {
    content: "Familles";
}
.enfant::before {
    content:"Enfants";
}
.concert::before {
    content:"Evénements";
}
.animaux::before {
    content:"Animaux";
}
.categorie:hover {
    opacity: 0.8;
}

/* ******************* A propos *************** */
.aPropos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 50px;
}
.presentation {
    height: auto;
    width: 500px;
    font-family: 'Roboto', sans-serif;
}
.presentation p {
    text-align: center;
    font-size: 18px;
    margin: 10px 20px;
}
.presentation h2 {
    text-align: end;
    font-size: 18px;
    margin: 0 20px;
}
.photo {
    width: 400px;
    height: 500px;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* **************** parallaxe ************** */
.parallaxe {
    background: url(./images/parallaxe.jpg) no-repeat fixed 50% 60%;
    background-size: cover; 
    height: 500px;
    width: 100%;
}
/* ********************service *************** */
.services {
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.servicePhoto, .serviceCadeau, .serviceRenovation {
    width: 300px;
    height: 350px;
    margin: 10px ;
}
.servicePhoto img, .serviceCadeau img, .serviceRenovation img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.btnServices button {
    text-align: center;
    border: 1px solid rgb(187, 13, 13);
    width: 150px;
    padding: 16px;
}
.btnServices {
    display: flex;
    justify-content: center;
}
.btnServices button:hover {
    border: 2px solid rgb(187, 13, 13);
}

/* ************** informations **************** */
.informations {
    height: auto;
}
    .horaires {
        margin: 80px auto;
        width: 50%;
        background: rgba(0, 0, 0, 0.459);
        box-shadow: -10px 15px 25px 0 rgba(0, 0, 0, 0.637);
        border-radius: 5px;
        position: relative;
    }
    .horaires::after {
        content: "";
        background: url(./images/studio.jpg) no-repeat left/cover;
        position: absolute;
        top: -10px;
        transform: rotate(10deg);
        right: -90px;
        width: 150px;
        height: 150px;
        z-index: 3;
        box-shadow: -10px 15px 25px 0 rgba(0, 0, 0, 0.637);
    }
    .horaires h3, .horaires p {
        font-size: 18px;
        margin: 5px 20px;
        text-align: center;
        color: rgba(244, 232, 212, 1);
    }
    .horaires h3 {
        text-decoration: underline;
        padding-top: 20px;
    }
    .horaires .textCouleur {
        color: rgb(185, 52, 52);
        margin: 0 auto;
    }
    /* **************** carte leaflet ************** */
    #carte {
        width: 80%;
        height: 300px;
        margin: 5px auto;
        box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.637);
        border-radius: 5px;
    }
    /* ***************** formulaire de contact *********** */

    .contact {
        margin-top: 100px; 
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
    }
    
    .facebook {
        margin-bottom: 30px;
    }

    .formulaire {
        width: 600px;
    } 
    .form {
        width: 100%;
    }
    
    .place, .phone, .email {
        margin: 20px 0;
    }
    input, textarea, .btnForm {

        border: none;
        width: 100%;
        padding: 15px 10px;
        margin: 3px auto 3px auto;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        border-radius: 8px;
    }
    textarea{
        height:120px;
        resize : none;
    }
    .btnForm{
        font-size: 18px;
        background-color:#ffffe9;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        
    }
    .btnForm:hover{
        background-color:rgb(187, 13, 13);
        color: #fffae1;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }   
    /* *********************** footer *************** */
    .containerFooter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
        height: 150px;
        background-color: rgba(244, 232, 212, 1);
    }
    .containerFooter a {
        text-decoration: none;
    }
    .containerFooter p {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.459);
    }
    .containerFooter img {
        height: 100px;
    }

/* ********************** responsive  *************** */
@media screen and (max-width: 1335px) {
    .horaires::after {
        top: -100px;
        transform: rotate(10deg);
        right: -80px;
    }
}
@media screen and (max-width: 1300px) {
    .portfolio {
        height: 1750px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 300px 250px 350px 500px;
        grid-template-areas: 
            "paragraphe paragraphe "
            "a b"
            "a d"
            "e d"
            "c c";
    }
    .portfolio h3 {text-align: center;}
    .categorie:nth-child(1) {line-height: 1.7em;}
}
@media screen and (max-width: 1019px) {
    .icones a {display: none;}
    .imgIntro, .clique {margin-right: 150px;}
    .photo {margin: 10px auto;}
    .swiper {width: 800px; margin: auto;}
    .swiper::before {width: 780px;}
}
@media screen and (max-width: 959px) {
    .services {height: 1250px}
}
@media screen and (max-width: 800px) {
    /* .icones a {display: none;} */
    .imgIntro, .clique {margin-right: 150px;}
    /* .photo {margin: 10px auto;} */
    .imgIntro img {height: 110px;}
    .clique::after {
        bottom: 35px;
        left: 110px;
        transform: rotate(40deg);
    }
    .swiper {width: 98%; margin: auto;}
    .swiper::before {width: 96%;}
    .containerFooter p {font-size: 16px;}
}
@media screen and (max-width: 691px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 2500px;
    }
    .categorie {width: 90%; height: 350px;}
    .categorie img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .mariage {background-color: beige;}
    .services {height: 1950px;}
    .swiper {width: 600px;}
    .swiper::before {width: 580; margin: auto;}
}
@media screen and (max-width: 656px) {
    .clique::after {
        bottom: 40px;
        left: 80px;
        transform: rotate(50deg);
    }
}
@media screen and (max-width: 577px) {
    .navbar {flex-direction: column;}
    .imgIntro {margin: auto;order: 2;}
    .clique {display: none;}
    .swiper {max-width: 500px;}
    .swiper::before {max-width: 480px;}
    .horaires {width: 80%}
    .horaires::after {
        top: -140px;
        transform: rotate(0deg);
        left: 50%;
        transform: translate(-50%);
        width: 200px;
        height: 150px;
   }
   .infos {font-size: 18px;}
}
@media screen and (max-width: 700px) {
    .categorie:nth-child(1) {line-height: 1.2em;}
    .portfolio {
        grid-template-rows: 400px 300px 250px 350px 500px;
    }
}
@media screen and (max-width: 505px) {
    .portfolio h3 {margin: 0;}
    .categorie:nth-child(1) {line-height: 1em;}
    .portfolio {
        grid-template-rows: 500px 300px 250px 350px 500px;
    }
}

